<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
      <add key="DefaultPushSource" value="https://nexus.internal.lodgify.net/repository/nuget" />
    </config>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="Lodgify" value="https://nexus.internal.lodgify.net/repository/nuget" />
    </packageSources>
</configuration>
